USE [places]
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.get_sucursal_by_criteria') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE dbo.get_sucursal_by_criteria;
END
GO

CREATE PROCEDURE [dbo].[get_sucursal_by_criteria]
	-- Add the parameters for the stored procedure here
	@nombre		varchar(1000) = NULL,
	@latitud	decimal(8,6) = NULL,
	@longitud	decimal(9,6) = NULL,
	@kilometros	decimal(10,2) = NULL,
	@tipoPagoId	tinyint = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @radioTierra FLOAT = 6371; -- km

  	PRINT '\n' + '['+ @nombre +']' + '['+ CAST (@latitud AS VARCHAR) +']'+ '['+ CAST (@longitud AS VARCHAR) +']'+ '['+ CAST (@kilometros AS VARCHAR) +']'

	SELECT	s.sucursal_id sucursal_id,
			s.nombre nombre,
			e.empresa_id,
			e.nombre as empresaNombre,
			c.categoria_id,
			c.nombre as categoriaNombre
	FROM	sucursal s
			inner join empresa e
				on s.empresa_id = e.empresa_id
			inner join categoria c
				on e.categoria_id = c.categoria_id
			left join ubicacion u
				on u.ubicacion_id = s.ubicacion_id
			left join horario h
				on s.sucursal_id = h.sucursal_id
			left join sucursal_tipo_pago p
				on s.sucursal_id = p.sucursal_id
	WHERE	(@nombre IS NULL OR UPPER(s.nombre + e.nombre + c.nombre) LIKE CONCAT('%', UPPER(@nombre), '%'))  AND 
			
			(@latitud IS NULL AND @longitud IS NULL AND @kilometros IS NULL OR 
				(@radioTierra * ACOS(
				COS(RADIANS(@latitud)) * COS(RADIANS(latitud)) *
				COS(RADIANS(longitud) - RADIANS(@longitud)) +
				SIN(RADIANS(@latitud)) * SIN(RADIANS(latitud))) <= @kilometros)) AND
        
			--Verifica horario de apertura solo si la sucursal tiene horarios registrados 
			(h.horario_id IS NULL OR
				(((CAST(GETDATE() AS TIME) between h.hora_apertura and h.hora_cierre AND
				DATEPART(weekday, GETDATE()) = h.dia_id)))) AND

			(@tipoPagoId IS NULL OR p.tipo_pago_id = @tipoPagoId)
END