USE [places]
GO
/****** Object:  StoredProcedure [dbo].[getSucursalByCriteria]    Script Date: 24/02/2026 01:40:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getSucursalByCriteria]
	-- Add the parameters for the stored procedure here
	@nombre		varchar(1000) = NULL,
	@latitud	decimal(8,6) = NULL,
	@longitud	decimal(9,6) = NULL,
	@kilometros	decimal(4,2) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @radioTierra FLOAT = 6371; -- km

	SELECT	s.sucursal_id
			--@radioTierra * ACOS(
			--COS(RADIANS(@latitud)) * COS(RADIANS(latitud)) *
			--COS(RADIANS(longitud) - RADIANS(@longitud)) +
			--SIN(RADIANS(@latitud)) * SIN(RADIANS(latitud))) AS KM
	FROM	ubicacion u
			inner join sucursal s
				on u.ubicacion_id = s.sucursal_id
			inner join empresa e
				on s.empresa_id = e.empresa_id
			inner join categoria c
				on e.categoria_id = c.categoria_id
			inner join horario h
				on s.sucursal_id = h.sucursal_id
	WHERE	((@nombre IS NULL OR UPPER(s.nombre) LIKE CONCAT('%', UPPER(@nombre), '%')) OR 
			(@nombre IS NULL OR UPPER(c.nombre) LIKE CONCAT('%', UPPER(@nombre), '%'))) AND 
			(@latitud IS NULL AND @longitud IS NULL AND @kilometros IS NULL OR 
			@radioTierra * ACOS(
			COS(RADIANS(@latitud)) * COS(RADIANS(latitud)) *
			COS(RADIANS(longitud) - RADIANS(@longitud)) +
			SIN(RADIANS(@latitud)) * SIN(RADIANS(latitud))) <= @kilometros) AND
			(CAST(GETDATE() AS TIME) between hora_apertura and hora_cierre) AND
			DATEPART(weekday, GETDATE()) = h.dia_id
END
