USE [places]
GO
/****** Object:  StoredProcedure [dbo].[sp_horario_insert]    Script Date: 24/02/2026 01:38:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_horario_insert](
    @sucursal_id    bigint,
    @dia_id         tinyint,
    @hora_apertura  time(7),
    @hora_cierre    time(7),
    @horario_id     BIGINT NULL OUT
)
AS
BEGIN

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @HorarioTbl TABLE (HorarioId BIGINT);

        INSERT INTO horario (hora_apertura, hora_cierre, dia_id, sucursal_id)
        OUTPUT INSERTED.horario_id INTO @HorarioTbl
        VALUES (@hora_apertura, @hora_cierre, @dia_id, @sucursal_id);

        -- Obtener el ID de la ubicación recién insertada
        SELECT @horario_id = HorarioId FROM @HorarioTbl;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Manejo de errores (puedes personalizar esto según tus necesidades)
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;

END