USE [places]
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.sp_sucursalTipoPago_insert') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE dbo.sp_sucursalTipoPago_insert;
END
GO

CREATE PROCEDURE [dbo].[sp_sucursalTipoPago_insert] (
    @sucursal_id            bigint,
    @tipo_pago_id           tinyint,
    @sucursal_tipo_pago_id  BIGINT NULL OUT
)
AS
BEGIN

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @SucursalTipoPagoTbl TABLE (SucursalTipoPagoId BIGINT);

        INSERT INTO sucursal_tipo_pago (sucursal_id, tipo_pago_id)
        OUTPUT INSERTED.sucursal_tipo_pago_id INTO @SucursalTipoPagoTbl
        VALUES (@sucursal_id, @tipo_pago_id);

        -- Obtener el ID del horario recién insertado
        SELECT @sucursal_tipo_pago_id = SucursalTipoPagoId FROM @SucursalTipoPagoTbl;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Manejo de errores (puedes personalizar esto según tus necesidades)
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;

END