<form [formGroup]="loginForm" class="login">

    <mat-form-field class="p-2 w-100">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field class="p-2 w-100">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" />
    </mat-form-field>


    <div class="p-2 w-100">
        <button matButton="filled" (click)="login()" [disabled]="!loginForm.valid || cargando()">
            @if (cargando()) {

            <app-spinner [diametro]="20"></app-spinner>
            Cargando...

            }
            @else{

            <span>Iniciar sesión</span>

            }


        </button>
    </div>





</form>