<mat-card class="login">
    <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>Iniciar sesión</mat-card-title>
        <mat-card-subtitle> &nbsp;</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <form [formGroup]="loginForm" class="login-controls">

            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="username">
                <mat-error>
                    <app-error-message [control]="usernameControl"></app-error-message>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password" />
                <mat-error>
                    <app-error-message [control]="passwordControl"></app-error-message>
                </mat-error>
            </mat-form-field>

        </form>
    </mat-card-content>

    <mat-card-actions>
        <div class="d-flex flex-column">

            <!-- <button matButton="filled" (click)="login()" [disabled]="!loginForm.valid || cargando()">
                @if (cargando()) {
                <app-spinner [diametro]="20"></app-spinner>
                Cargando...
                }
                @else{
                <span>Iniciar sesión</span>
                }
            </button> -->

            <app-spinner-button [texto]="'Iniciar sesión'" [cargando]="cargando()" [deshabilitado]="!loginForm.valid"
                (clic)="login()">

            </app-spinner-button>
            <br>
            
            <!-- enlace registro -->
            <a matButton="outlined" [routerLink]="['../registro']">Registro</a>
            <br>



        </div>



    </mat-card-actions>

</mat-card>