<mat-nav-list>


    <mat-accordion>
        @for (m of menus(); track $index) {

        @if (m.hijos && m.hijos.length > 0) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>
                    <mat-icon>{{m.icono}}</mat-icon>
                    {{m.nombre}} </mat-panel-title>
            </mat-expansion-panel-header>

            <app-main-layout-menu [menus]="m.hijos"></app-main-layout-menu>

        </mat-expansion-panel>
        } @else {

        <a mat-list-item [routerLink]="m.ruta" routerLinkActive="active-link" (click)="setSelectedMenuItem(m)">
            <mat-icon>{{m.icono}}</mat-icon>
            {{m.nombre}}
        </a>

        }

        }
    </mat-accordion>

</mat-nav-list>